body {
	background: black;
}


.postcard {
	background: white;
	width: 400px;
	height: 320px;
	margin: auto;
	margin-top: 110px;
	padding: 5px;
	font-family: cursive;
}

.postcard-header {
	display: flex;
	margin: 0px;
	justify-content: space-between;
}

.titulo-postcard {
	margin-top: 0px;
	margin-bottom: 0px;
	width: 100%;	
}

.postcard-body {
	display: flex;
	
}

.body-left,
.body-right {
	padding: 10px;
}

.parrafo-arriba {
	margin-top: 0;
}

.parrafo-abajo{
	margin-bottom: 0px;
}

input {
	border: none;
	border-bottom: 1px grey solid;
	font-family: cursive;
}

.postcard-footer {
	text-align: center;
	padding: 5px;
}

.boton-postcard {
	background-color: rgb(197, 197, 197);	
	font-family: cursive;
}
